.item-card {
  display: flex;
  background-color: var(--color-white);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.item-card-image {
  height: 100%;
}

.item-card-content {
  flex: 1;
  margin: 2rem;

  display: flex;
  flex-direction: column;

  color: var(--color-green);
}

.name {
  margin-bottom: 1rem;
}

.item-card h1 {
  font-family: 'Meursault', serif;
  font-weight: 400;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: -0.25rem;
}

.sci-name {
  font-family: 'Meursault', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  white-space: nowrap;
}

.explorer-content h2 {
  font-family: 'Meursault', serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 0 -1rem;
}

.explorer-content p {
  font-size: 11pt;
  text-wrap: pretty;
}
