.folder-button-contents {
  flex: 1;

  padding: 2cqw 4cqw;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /*For animal icons*/
  flex-direction: column;
  gap: 1cqw;

  background: var(--color-orange);
  color: var(--color-white);

  font-family: 'Meursault', serif;
  text-transform: uppercase;
  text-align: center;

  font-size: 1.375cqw;
  font-weight: 500;
  letter-spacing: 0.08em;
  line-height: 1.5;
}

.folder-button-contents img {
  width: 60%;
}
