.nav-bar {
  padding: 1vw 3vw;

  display: flex;
  align-items: stretch;
  justify-content: space-between;

  background-color: var(--color-green);
  color: var(--color-white);

  font-family: 'Meursault', serif;
  font-size: 1.25vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: nowrap;
}

.nav-bar-button {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1vw;
}

.idle-warning {
  text-transform: none;
  font-style: oblique;
  font-weight: 400;
  letter-spacing: 0;
  font-variant-numeric: tabular-nums;
}
