.standard-icon-button {
    padding: 0;
    border: 0;
    background: 0;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
    font-size: 10pt;
}

.standard-icon-button:hover {
    filter: contrast(50%);
}

.standard-icon-button:active {
    filter: contrast(25%);
}