.nav-bar {
    padding: 0.75rem 32px;

    display: flex;
    align-items: stretch;
    justify-content: space-between;

    background-color: var(--color-green);
    color: var(--color-white);

    font-family: 'Meursault';
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: nowrap;
}

.nav-bar-button {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 12px;
}