.nav-bar {
    height: 64px;
    padding: 0 32px;

    display: flex;
    align-items: stretch;
    justify-content: space-between;

    background-color: var(--color-green);
    color: var(--color-white);
}

.nav-bar-button {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 12px;
}