.explorer-view {

    display: flex;
    flex-direction: column;
    height: 100%;
}

.explorer-content {

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-light-blue);
}