.explorer-view {

    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.explorer-content {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem;

    background: var(--color-light-blue);
}

.explorer-content h1 {
    color: var(--color-green);
    font-family: "Meursault", serif;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.25;
    margin: -1rem 0 1rem 0;
}