.explorer-view {

    display: flex;
    flex-direction: column;
    height: 100%;
}

.explorer-content {

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-light-blue);
}

.explorer-content h1 {

    color: var(--color-green);
    font-family: "Meursault";
    font-weight: 400;
    font-size: 2.25rem;

    margin-bottom: 16px;

}