.item-view {
    flex: 1;
    display: flex;
    background-color: #fffe;
}

.item-view-image {
    height: 100%;
    width: 40%;
    background-color: gray;
}

.item-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-view-content {
    flex: 1;
    margin: 2rem;

    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        "name    name"
        "habitat fun"
        "diet    fun";

    color: var(--color-green);
}

.name    { grid-area: name; margin-bottom: 1rem; }
.habitat { grid-area: habitat; }
.diet    { grid-area: diet; }
.fun     { grid-area: fun; }

.item-view h1 {
    font-family: "Meursault", serif;
    font-weight: 400;
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: -0.25rem;
}

.sci-name {
    font-family: "Meursault", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    white-space: nowrap;
}

.explorer-content h2 {
    font-family: "Meursault", serif;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0 0 -1rem;
}

.explorer-content p {
    font-size: 11pt;
    text-wrap: pretty;
}