.explorer-button {

    width: 220px;
    height: 140px;
    box-sizing: border-box;
    display: flex;
}

.explorer-button-contents {

    flex: 1;

    padding: 0 50px 0 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background: var(--color-orange);
    color: var(--color-white);

    font-family: 'Meursault', serif;
    text-transform: uppercase;
    text-align: center;

    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.5;
}

.explorer-button canvas {
    width: 100%;
    height: 100%;
    display: block;
}