.folder-button {

    width: 220px;
    height: 140px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-orange);
    border-radius: 32px;

    color: var(--color-white);
}