.folder-button {

    width: 220px;
    height: 140px;
    box-sizing: border-box;
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-orange);
    border-radius: 32px;

    color: var(--color-white);
    font-family: 'Meursault';
    text-transform: uppercase;
    text-align: center;

    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.5;
}