.explorer-view {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.explorer-content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5vw;
  background: var(--color-light-blue);
  overflow: hidden;
}

.explorer-content::before {
  content: '';
  position: absolute;
  inset: -100%;
  width: 300%;
  height: 300%;
  background-image: url('../_assets/pawprint.svg');
  background-size: 14.75vw 14.75vw;
  background-repeat: repeat;
  opacity: 0.02;
  animation: diagonal-scroll 5s linear infinite;
  pointer-events: none;
  z-index: 0;
}

.explorer-content > * {
  position: relative;
  z-index: 1;
}

@keyframes diagonal-scroll {
  from {
    transform: rotate(45deg) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(0px, -14.75vw);
  }
}

.explorer-content h1 {
  color: var(--color-green);
  font-family: 'Meursault', serif;
  font-weight: 400;
  font-size: 3.25vw;
  line-height: 1.25;
  margin: -1.5vw 0 1.5vw 0;
}
